---
layout: default
---

{% include header.html %}

<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

{{ content }}

{% if site.wallet %}
    <table class="wallet-addresses">
        <tr>
            <td>Paypal</td>
            <td><input id="paypal-address" value="{{site.wallet.paypal}}"></td>
            <td><button class="btn" data-clipboard-target="#paypal-address">Copy</button></td>
        </tr>
        <tr>
            <td>Bitcoin</td>
            <td><input id="btc-address" value="{{site.wallet.bitcoin}}"></td>
            <td><button class="btn" data-clipboard-target="#btc-address">Copy</button></td>
        </tr>
        <tr>
            <td>Ethereum</td>
            <td><input id="eth-address" value="{{site.wallet.ethereum}}"></td>
            <td><button class="btn" data-clipboard-target="#eth-address">Copy</button></td>
        </tr>
        <tr>
            <td>Litecoin</td>
            <td><input id="ltc-address" value="{{site.wallet.litecoin}}"></td>
            <td><button class="btn" data-clipboard-target="#ltc-address">Copy</button></td>
        </tr>
        <tr>
            <td>Ripple (use with tag)</td>
            <td><input id="xrp-address" value="{{site.wallet.ripple}}"></td>
            <td><button class="btn" data-clipboard-target="#xrp-address">Copy</button></td>
        </tr>
        <tr>
            <td>Ripple Tag</td>
            <td><input id="xrp-tag" value="{{site.wallet.ripple_tag}}"></td>
            <td><button class="btn" data-clipboard-target="#xrp-tag">Copy</button></td>
        </tr>
    </table>

{% endif %}

{% if page.home %}
    {% include home-footer.html %}
{% else %}
    {% include footer.html %}
{% endif %}

<script>
    new Clipboard('.btn');
</script>