.page
	margin-top: 125px

	> h1
		text-align: center
		margin-bottom: 6rem

.about
	.profile-pic
		opacity: 0.8
		width: 18%
		margin-left: 30px
		margin-right: 10px
		display: block
		border-radius: 50%
		float: right
		-moz-box-shadow:    inset 0 10 30px #000000
		-webkit-box-shadow: inset 0 10 30px #000000
		box-shadow:         inset 0 10 30px #000000
	.profile-pic:hover
		opacity: 1.0

.things-i-do 
	list-style: none
	list-style-type: "# "
	margin-bottom: 40px
	> li
		margin-top: 10px
		font-weight: 600
		> details > summary
			color: $alpha
			cursor: pointer
			cursor: hand
		> details[open] > summary
			color: $between-gamma-and-alpha	
			font-weight: 800

.tech-stack
	margin-top: 25px

.tech-stack > li
	margin-top: 10px
	font-weight: 700
	list-style: none
	list-style-type: "# "

.tech-stack > li > ul
	margin: 0
	padding: 0
	> li
		margin: 10px 5px 10px 5px
		display: inline-block
		padding: 0 10px
		height: 30px
		font-size: 16px
		line-height: 30px
		border-radius: 5px
		border: 1px solid $gama
		// background-color: #f1f1f1

.salutation
	font-weight: 500
	font-size: 1.2em